*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.cont{
    position: relative !important;
    min-height: 300px;
}
.conti .left{
    position: absolute !important;
    bottom: 50% !important;
    width: 100px ;
    height: 300px ;
    border-radius: 50% ;
    filter:blur(25px);
    background:radial-gradient(circle at 20% 40%,#8EADD53D ,transparent 70%) !important;
    z-index: -1 !important;
    transform: translateY(-60%) !important;
    opacity: 0.4 !important;
}
.conti .right{
    position: absolute !important;
    bottom:50% !important;
    width: 100px ;
    height: 300px ;
    border-radius: 50% ;
    filter:blur(25px) !important;
    background:radial-gradient(circle at 80% 60%,#2e68b33d ,transparent 70%) !important;
    z-index: 1 !important;
    transform: translateY(-50%) !important;
    opacity: 0.4 !important;
    right: 0 !important;
}
.key{
    background-color: #8EADD5 !important;
    color:white !important;
    border:4px solid  #8EADD5 !important;
    border-radius: 10px !important;
}
#carouselExampleIndicators{
    padding-bottom: 2rem !important;
}
    #carouselExampleIndicators .carousel-indicators {
        position: relative !important;  
        margin-top: 1.5rem !important;
        justify-content: center !important; 
    }
    #carouselExampleIndicators .carousel-indicators button {
        width: 15px !important;
        height: 20px !important;
        border-radius: 50% !important;
        background-color: #8EADD5 !important;
    }

@media screen and (max-width:992px){
    .trusted-logo .logo-img{
        width: 30px !important;
    }
    .arrow-icon{
        transform: rotate(90deg) !important;
    }
    
}